<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Sélection des articles</title>
</head>
<body>
    <h1>Veuillez sélectionner les articles à inclure ou exclure</h1>
    <form method="post">
        {% for article in articles %}
            <div>
                <h3>{{ article[1] }}</h3>
                <label>
                    <input type="radio" name="article_{{ article[0] }}" value="in" {% if article[2]=='in' %} checked {% endif %}> In
                </label>
                <label>
                    <input type="radio" name="article_{{ article[0] }}" value="out" {% if article[2]=='out' %} checked {% endif %}> Out
                </label>
            </div>
            <hr>
        {% endfor %}
        <button type="submit">Valider la sélection</button>
    </form>
</body>
</html>
